# Bloque 4

## Video 2

```sql
SELECT * FROM TAB1 /*????*/ TAB2 ON TAB1.COD = TAB2.COD
```


---

```sql
RIGHT JOIN
```

¡Alternativa correcta! Este es el tipo de JOIN que nos va a devolver lo que queremos consultar.

## Video 3

Complete el siguiente comando de SQL:
```sql
SELECT * FROM TAB1 /*????*/ TAB2 ON TAB1.COD = TAB2.COD

---

FULL JOIN
```

¡Alternativa correcta! Este es el tipo de JOIN que nos va a devolver lo que queremos consultar.

## Video 4

Cuando queremos listar todos los registros de dos o más tablas, listando incluso los repetidos, ¿Cuál tipo de UNION empleamos?

---

```sql
UNION ALL
```

¡Alternativa correcta! Así es, este comando nos devuelve todos los registros, incluso los repetidos.

## Video 5

Cuál sería la consulta utilizando la subconsulta que sería equivalente a:

```sql
SELECT DNI, COUNT(*) FROM facturas
WHERE YEAR(FECHA_VENTA) = 2016
GROUP BY DNI
HAVING COUNT(*) > 2000;
```

---

El comando que debemos ejecutar es el siguiente:

```sql
SELECT X.DNI, X.CONTADOR FROM 
(SELECT DNI, COUNT(*) AS CONTADOR FROM facturas
WHERE YEAR(FECHA_VENTA) = 2016
GROUP BY DNI) X WHERE X.CONTADOR > 2000;
```

## Video 6

Considera las siguientes opciones, y escoge la que sea falsa:

---

No podemos crear una vista de otra vista.

¡Alternativa correcta! Esta es la opción falsa