# Comando LIKE

El comando **`LIKE`** en SQL se usa en cl√°usulas **`WHERE`** para buscar patrones dentro de una columna de texto.

Ejemplo:

```sql
SELECT * FROM usuarios WHERE nombre LIKE 'Lu%';
```

- `%` = cualquier n√∫mero de caracteres
- `_` = un solo car√°cter

Este ejemplo busca todos los nombres que **empiezan con ‚ÄúLu‚Äù**, como *Luis* o *Luc√≠a*.

# Comando DISTINCT

El comando **`DISTINCT`** en SQL se usa para **eliminar valores duplicados** en los resultados de una consulta.

Ejemplo:

```sql
SELECT DISTINCT ciudad FROM clientes;
```

Este ejemplo devuelve **solo una vez cada ciudad**, aunque haya muchos clientes de la misma.

# Comando LIMIT

El comando **`LIMIT`** en SQL se usa para **restringir la cantidad de filas** que devuelve una consulta.  

Ejemplo:  
```sql
SELECT * FROM productos LIMIT 5;
```
Este ejemplo muestra **solo las primeras 5 filas** del resultado.  

Tambi√©n puedes usar:  
```sql
SELECT * FROM productos LIMIT 5 OFFSET 10;
```
Esto **omite las primeras 10 filas** y muestra las **siguientes 5**.

# Comando ORDER BY

El comando **`ORDER BY`** en SQL se usa para **ordenar los resultados** de una consulta, ya sea en orden **ascendente (ASC)** o **descendente (DESC)**.  

Ejemplo:  
```sql
SELECT * FROM empleados ORDER BY salario DESC;
```
Este ejemplo muestra los empleados **del salario m√°s alto al m√°s bajo**.  

Por defecto, si no se indica nada, el orden es **ASC (ascendente)**.

# Comando GROUP BY

El comando **`GROUP BY`** en SQL se usa para **agrupar filas que tienen valores iguales** en una o m√°s columnas y aplicar funciones como `COUNT()`, `SUM()`, `AVG()`, etc.

Ejemplo:

```sql
SELECT ciudad, COUNT(*) FROM clientes GROUP BY ciudad;
```

Este ejemplo **agrupa por ciudad** y muestra **cu√°ntos clientes hay en cada una**.

# Comando HAVING

El comando **`HAVING`** en SQL se usa para **filtrar los resultados de un `GROUP BY`**, algo que **`WHERE`** no puede hacer.  

Ejemplo:  
```sql
SELECT ciudad, COUNT(*) 
FROM clientes 
GROUP BY ciudad 
HAVING COUNT(*) > 5;
```
Muestra **solo las ciudades con m√°s de 5 clientes**.

# Comando CASE

El comando **`CASE`** en SQL se usa para **evaluar condiciones** y **devolver un valor diferente seg√∫n el resultado**, parecido a un **"if...else"** en programaci√≥n.

## **Estructura b√°sica:**

```sql
SELECT
    columna,
    CASE
        WHEN condici√≥n1 THEN resultado1
        WHEN condici√≥n2 THEN resultado2
        ELSE resultado_por_defecto
    END AS nombre_columna
FROM tabla;
```

## **Ejemplo:**

```sql
SELECT
    nombre,
    edad,
    CASE
        WHEN edad < 18 THEN 'Menor de edad'
        WHEN edad BETWEEN 18 AND 64 THEN 'Adulto'
        ELSE 'Adulto mayor'
    END AS categoria
FROM personas;
```

Esto clasifica a cada persona seg√∫n su edad.

## **Puntos clave:**

* Se puede usar en **SELECT, WHERE, ORDER BY, GROUP BY**, etc.
* Siempre termina con **`END`**.
* Si ninguna condici√≥n se cumple y no hay `ELSE`, el resultado ser√° **NULL**.

# Comando JOIN

El comando **JOIN** en SQL se usa para **combinar datos de dos o m√°s tablas** relacionadas entre s√≠, bas√°ndose en una **columna com√∫n**.
Ejemplo: unir clientes con sus pedidos usando el campo `id_cliente`.

Supongamos que tienes dos tablas:

**clientes**

| id_cliente | nombre |
| ---------- | ------ |
| 1          | Ana    |
| 2          | Luis   |

**pedidos**

| id_pedido | id_cliente | producto |
| --------- | ---------- | -------- |
| 101       | 1          | Laptop   |
| 102       | 2          | Celular  |

Puedes usar **JOIN** para mostrar qu√© cliente hizo cada pedido:

```sql
SELECT clientes.nombre, pedidos.producto
FROM clientes
JOIN pedidos
ON clientes.id_cliente = pedidos.id_cliente;
```

üîπ Este `JOIN` une las filas donde el **id_cliente** coincide en ambas tablas.
üîπ El resultado ser√≠a:

| nombre | producto |
| ------ | -------- |
| Ana    | Laptop   |
| Luis   | Celular  |

As√≠ puedes combinar informaci√≥n relacionada de diferentes tablas.

## Tipos de inner join

1. **INNER JOIN** ‚Üí Devuelve solo las filas que **coinciden en ambas tablas**.
2. **LEFT JOIN (o LEFT OUTER JOIN)** ‚Üí Devuelve **todas las filas de la tabla izquierda** y las coincidencias de la derecha (si no hay coincidencia, muestra `NULL`).
3. **RIGHT JOIN (o RIGHT OUTER JOIN)** ‚Üí Devuelve **todas las filas de la tabla derecha** y las coincidencias de la izquierda (si no hay coincidencia, muestra `NULL`).
4. **FULL JOIN (o FULL OUTER JOIN)** ‚Üí Devuelve **todas las filas de ambas tablas**, coincidan o no (rellena con `NULL` cuando no hay coincidencia).
5. **CROSS JOIN** ‚Üí Combina **todas las filas de ambas tablas** (producto cartesiano).

SELECT * FROM TAB1 /*????*/ TAB2 ON TAB1.COD = TAB2.COD

BLOQUE 3 VIDEO 2