# Categorias de operaciones

| Categoría                              | Qué hace                                              | Ejemplos                                                         |
| -------------------------------------- | ----------------------------------------------------- | ---------------------------------------------------------------- |
| **DDL** (Data Definition Language)     | Define o cambia la **estructura** de la base de datos | `CREATE`, `ALTER`, `DROP`, `TRUNCATE`                            |
| **DML** (Data Manipulation Language)   | **Manipula los datos** dentro de la base              | `SELECT`, `INSERT`, `UPDATE`, `DELETE`                           |
| **DCL** (Data Control Language)        | **Controla permisos** y seguridad                     | `GRANT`, `REVOKE`                                                |
| **TCL** (Transaction Control Language) | Controla **transacciones**                            | `COMMIT`, `ROLLBACK`, `SAVEPOINT`                                |
| **CRUD**                               | Resumen práctico de operaciones sobre datos           | Create = INSERT, Read = SELECT, Update = UPDATE, Delete = DELETE |

# Caracteristicas de MYSQL

* **Servidor robusto** → Estable y confiable, puede manejar muchos usuarios y transacciones simultáneas.
* **Portabilidad** → Funciona en diferentes sistemas operativos (Windows, Linux, macOS).
* **Multithreads** → Puede procesar múltiples conexiones al mismo tiempo, mejorando el rendimiento.
* **Almacenamiento** → Soporta distintos motores de almacenamiento según necesidades (InnoDB, MyISAM, etc.).
* **Velocidad** → Optimizado para consultas rápidas y eficiente en operaciones con grandes volúmenes de datos.
* **Seguridad** → Control de usuarios, permisos y autenticación robusta.
* **Capacidad** → Puede manejar grandes bases de datos y gran número de registros.
* **Aplicabilidad** → Adecuado para aplicaciones web, móviles y empresariales.
* **Logs** → Registra eventos y errores para auditoría y resolución de problemas.

# Guia de instalacion de MySQL Workbench

https://www.aluracursos.com/blog/descargar-mysql-serve

# Estructura de una base de datos

---

## **1. Base de datos**

Una **base de datos** es como una carpeta donde se guardan todas tus tablas relacionadas entre sí.

```sql
CREATE DATABASE escuela;
```

Aquí creamos una base de datos llamada `escuela`.

---

## **2. Tabla**

Dentro de la base de datos, tenemos **tablas**, que son como hojas de cálculo: filas y columnas.

```sql
USE escuela;

CREATE TABLE estudiantes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50),
    edad INT,
    grado VARCHAR(20)
);
```

**Explicación de la tabla:**

* `id` → Campo que identifica cada registro de manera única (**clave primaria**).
* `nombre` → Campo de tipo texto, máximo 50 caracteres.
* `edad` → Campo de tipo número entero.
* `grado` → Campo de tipo texto, máximo 20 caracteres.

---

## **3. Registro (fila)**

Un **registro** es una fila dentro de la tabla, cada registro representa un elemento de información (un estudiante, un producto, etc.).

```sql
INSERT INTO estudiantes (nombre, edad, grado)
VALUES ('Luis Ángel', 22, '5to semestre');
```

Aquí se agregó un **registro** con los datos del estudiante Luis Ángel.

- Son los datos contenidos en los campos
- Número ilimitado
- Límite máximo dado por la capacidad de almacenamiento disponible en el disco
- Al momento de la creacion de la base de datos se pueden establecer politicas de crecimiento

---

## **4. Campos (columnas)**

Los **campos** son las columnas de la tabla. Cada campo almacena un tipo específico de dato (texto, número, fecha, etc.).

En la tabla `estudiantes` tenemos:

* `id`
* `nombre`
* `edad`
* `grado`

- Definido al momento de su creacion
- Número limitado
- No admite datos que no fueron especificados

---

## **5. Ejemplo visual**

| id | nombre      | edad | grado        |
| -- | ----------- | ---- | ------------ |
| 1  | Luis Ángel  | 22   | 5to semestre |
| 2  | María Pérez | 20   | 4to semestre |
| 3  | Juan López  | 21   | 5to semestre |

* Cada **fila** → Registro
* Cada **columna** → Campo
* Toda la tabla → Colección de registros en la base de datos
* Base de datos → Contenedor de tablas

---

# Esquemas

---

## **1. Qué es un esquema**
Un **esquema** es como un contenedor dentro de una base de datos que **agrupa tablas, vistas, índices y otros objetos relacionados**.  

- Piensa en la base de datos como un **archivo grande**.  
- Dentro de ese archivo, los **esquemas** son **carpetas** que organizan mejor tus tablas y objetos.  
- Cada esquema tiene un **nombre** y puede contener varias tablas.  

**Ejemplo visual:**

```
Base de datos: escuela
|
|-- Esquema: academico
|   |-- Tabla: estudiantes
|   |-- Tabla: cursos
|   |-- Tabla: inscripciones
|
|-- Esquema: administrativo
    |-- Tabla: empleados
    |-- Tabla: pagos
```

---

## **2. Cómo se usan en MySQL**

Para crear un esquema en SQL, puedes usar la siguiente sintaxis básica:

```sql
CREATE SCHEMA nombre_del_esquema;
```
Opcionalmente, puedes especificar un usuario como propietario del esquema:
```sql
CREATE SCHEMA AUTHORIZATION usuario;
```
Aquí tienes un ejemplo completo:
```sql
CREATE SCHEMA ventas AUTHORIZATION 'usuario_ventas';
```
Este comando creará un esquema llamado "ventas" y asignará al usuario "usuario_ventas" como propietario.

Después de crear el esquema, puedes crear tablas y otros objetos dentro de él especificando el nombre del esquema seguido de un punto antes del nombre del objeto:
```sql
CREATE TABLE ventas.clientes (
    id INT PRIMARY KEY,
    nombre VARCHAR(100)
);
```
En este ejemplo, la tabla "clientes" se crea dentro del esquema "ventas".

---

## **3. Ventajas de los esquemas**
1. **Organización:** Agrupa tablas relacionadas y separa distintos módulos de tu base de datos.  
2. **Seguridad:** Puedes asignar permisos por esquema, no solo por tabla.  
3. **Claridad:** Facilita entender y mantener la base de datos.  

---

# View

Una "view" (vista) en SQL es una consulta almacenada que se guarda en la base de datos como si fuera una tabla virtual.

La ventaja principal de usar una "view" en vez de una consulta normal es la reutilización y simplificación.

En lugar de escribir la misma consulta compleja una y otra vez, puedes crear una vista una sola vez y luego usarla como si fuera una tabla. Esto hace que tus consultas sean más fáciles de leer, mantener y reutilizar.

# **JOIN**

Un JOIN en SQL combina filas de dos o más tablas basándose en una columna relacionada entre ellas.

``Ejemplo``

Imagina que tienes dos tablas:

Tabla "clientes"


|id_cliente	|   nombre |ciudad      |
|-----------|----------|------------|
|1          |	Ana	   |Madrid      |
|2          |	Juan   |Barcelona   |
|3          |	María  |Valencia    |


Tabla "pedidos"

|id_pedido|id_cliente   |fecha
|---------|-------------|------
|101	  |1            |2023-01-15
|102	  |2            |2023-02-20
|103      |1            |2023-03-10


```sql
SELECT clientes.nombre, pedidos.id_pedido, pedidos.fecha
FROM clientes
INNER JOIN pedidos ON clientes.id_cliente = pedidos.id_cliente;
```

resultado:

|nombre|id_pedido |fecha
|------|----------|----------
|Ana   |101       |2023-01-15
|Juan  |102	      |2023-02-20
|Ana   |103       |2023-03-10

# **Estructuras de control**

``IF``, ``WHILE``, ``FOR``

Son **estructuras de control de flujo** que se utilizan para controlar la ejecución de un bloque de código.

Ejemplo con ``IF``

Supongamos que tienes una tabla llamada "productos" con las columnas "nombre" y "precio". Quieres mostrar el nombre del producto y un mensaje que indique si el producto es "caro" o "barato" según su precio.

```sql
SELECT
    nombre,
    IF(precio > 100, 'Caro', 'Barato') AS estado_precio
FROM
    productos;
```

Si el precio del producto es mayor que 100, la columna "estado_precio" mostrará "Caro". De lo contrario, mostrará "Barato".

# **Funciones**

Las funciones en SQL se utilizan para realizar cálculos, manipular datos y transformar valores en una consulta.

Existen muchas funciones pero por el momento solo aprenderemos 3

``COUNT()``: Cuenta el número de filas.
```sql
SELECT COUNT(*) FROM clientes; -- Cuenta todos los clientes
```

``SUM()``: Suma los valores de una columna.
```sql
SELECT SUM(precio) FROM productos; -- Suma el precio de todos los productos
```

``AVG()``: Calcula el promedio de los valores de una columna.
```sql
SELECT AVG(edad) FROM empleados; -- Calcula la edad promedio de los empleados
```

# **TRigger**

Un Trigger en SQL es un disparador que se ejecuta automáticamente en respuesta a un evento específico en una tabla, como una inserción (agregar un nuevo dato a la tabla), actualización o eliminación de datos.

Ejemplo:

Imagina que tienes una tabla llamada "pedidos" y quieres mantener un registro de cada vez que se inserta un nuevo pedido. Puedes crear un trigger que se ejecute automáticamente cada vez que se inserta una nueva fila en la tabla "pedidos" y que inserte una nueva fila en una tabla llamada "log_pedidos" con la información del pedido insertado.

En otras palabras, el trigger se utiliza para crear un registro histórico de cada nuevo pedido que se agrega a la tabla "pedidos" en la tabla "log_pedidos".

El trigger está monitoreando la tabla "pedidos" y, cuando detecta una nueva inserción, crea un registro en la tabla "log_pedidos".

```sql
CREATE TRIGGER registro_pedidos
AFTER INSERT ON pedidos
FOR EACH ROW
BEGIN
    INSERT INTO log_pedidos (id_pedido, fecha_pedido)
    VALUES (NEW.id_pedido, NEW.fecha_pedido);
END;
```

- ``CREATE TRIGGER registro_pedidos``: Crea un trigger llamado "registro_pedidos".
- ``AFTER INSERT ON pedidos``: Especifica que el trigger se ejecutará después de una inserción en la tabla "pedidos".
- ``FOR EACH ROW``: Especifica que el trigger se ejecutará para cada fila insertada.
- ``BEGIN ... END``: Define el bloque de código que se ejecutará cuando se active el trigger.
- ``INSERT INTO log_pedidos ...``: Inserta una nueva fila en la tabla "log_pedidos" con el ID y la fecha del pedido insertado.
- ``NEW.id_pedido`` y ``NEW.fecha_pedido``: Hacen referencia a los valores de las columnas de la nueva fila insertada en la tabla "pedidos".

En resumen, los triggers son útiles para automatizar tareas, mantener la integridad de los datos y auditar los cambios en la base de datos.