# Comando LIKE

El comando **`LIKE`** en SQL se usa en cláusulas **`WHERE`** para buscar patrones dentro de una columna de texto.

Ejemplo:

```sql
SELECT * FROM usuarios WHERE nombre LIKE 'Lu%';
```

- `%` = cualquier número de caracteres
- `_` = un solo carácter

Este ejemplo busca todos los nombres que **empiezan con “Lu”**, como *Luis* o *Lucía*.

# Comando DISTINCT

El comando **`DISTINCT`** en SQL se usa para **eliminar valores duplicados** en los resultados de una consulta.

Ejemplo:

```sql
SELECT DISTINCT ciudad FROM clientes;
```

Este ejemplo devuelve **solo una vez cada ciudad**, aunque haya muchos clientes de la misma.

# Comando LIMIT

El comando **`LIMIT`** en SQL se usa para **restringir la cantidad de filas** que devuelve una consulta.  

Ejemplo:  
```sql
SELECT * FROM productos LIMIT 5;
```
Este ejemplo muestra **solo las primeras 5 filas** del resultado.  

También puedes usar:  
```sql
SELECT * FROM productos LIMIT 5 OFFSET 10;
```
Esto **omite las primeras 10 filas** y muestra las **siguientes 5**.

# Comando ORDER BY

El comando **`ORDER BY`** en SQL se usa para **ordenar los resultados** de una consulta, ya sea en orden **ascendente (ASC)** o **descendente (DESC)**.  

Ejemplo:  
```sql
SELECT * FROM empleados ORDER BY salario DESC;
```
Este ejemplo muestra los empleados **del salario más alto al más bajo**.  

Por defecto, si no se indica nada, el orden es **ASC (ascendente)**.