# Comando LIKE

El comando **`LIKE`** en SQL se usa en cláusulas **`WHERE`** para buscar patrones dentro de una columna de texto.

Ejemplo:

```sql
SELECT * FROM usuarios WHERE nombre LIKE 'Lu%';
```

- `%` = cualquier número de caracteres
- `_` = un solo carácter

Este ejemplo busca todos los nombres que **empiezan con “Lu”**, como *Luis* o *Lucía*.

# Comando DISTINCT

El comando **`DISTINCT`** en SQL se usa para **eliminar valores duplicados** en los resultados de una consulta.

Ejemplo:

```sql
SELECT DISTINCT ciudad FROM clientes;
```

Este ejemplo devuelve **solo una vez cada ciudad**, aunque haya muchos clientes de la misma.

# Comando LIMIT

El comando **`LIMIT`** en SQL se usa para **restringir la cantidad de filas** que devuelve una consulta.  

Ejemplo:  
```sql
SELECT * FROM productos LIMIT 5;
```
Este ejemplo muestra **solo las primeras 5 filas** del resultado.  

También puedes usar:  
```sql
SELECT * FROM productos LIMIT 5 OFFSET 10;
```
Esto **omite las primeras 10 filas** y muestra las **siguientes 5**.

# Comando ORDER BY

El comando **`ORDER BY`** en SQL se usa para **ordenar los resultados** de una consulta, ya sea en orden **ascendente (ASC)** o **descendente (DESC)**.  

Ejemplo:  
```sql
SELECT * FROM empleados ORDER BY salario DESC;
```
Este ejemplo muestra los empleados **del salario más alto al más bajo**.  

Por defecto, si no se indica nada, el orden es **ASC (ascendente)**.

# Comando GROUP BY

El comando **`GROUP BY`** en SQL se usa para **agrupar filas que tienen valores iguales** en una o más columnas y aplicar funciones como `COUNT()`, `SUM()`, `AVG()`, etc.

Ejemplo:

```sql
SELECT ciudad, COUNT(*) FROM clientes GROUP BY ciudad;
```

Este ejemplo **agrupa por ciudad** y muestra **cuántos clientes hay en cada una**.

# Comando HAVING

El comando **`HAVING`** en SQL se usa para **filtrar los resultados de un `GROUP BY`**, algo que **`WHERE`** no puede hacer.  

Ejemplo:  
```sql
SELECT ciudad, COUNT(*) 
FROM clientes 
GROUP BY ciudad 
HAVING COUNT(*) > 5;
```
Muestra **solo las ciudades con más de 5 clientes**.

# Comando CASE

El comando **`CASE`** en SQL se usa para **evaluar condiciones** y **devolver un valor diferente según el resultado**, parecido a un **"if...else"** en programación.

## **Estructura básica:**

```sql
SELECT
    columna,
    CASE
        WHEN condición1 THEN resultado1
        WHEN condición2 THEN resultado2
        ELSE resultado_por_defecto
    END AS nombre_columna
FROM tabla;
```

## **Ejemplo:**

```sql
SELECT
    nombre,
    edad,
    CASE
        WHEN edad < 18 THEN 'Menor de edad'
        WHEN edad BETWEEN 18 AND 64 THEN 'Adulto'
        ELSE 'Adulto mayor'
    END AS categoria
FROM personas;
```

Esto clasifica a cada persona según su edad.

## **Puntos clave:**

* Se puede usar en **SELECT, WHERE, ORDER BY, GROUP BY**, etc.
* Siempre termina con **`END`**.
* Si ninguna condición se cumple y no hay `ELSE`, el resultado será **NULL**.