# Categorias de operaciones

| Categoría                              | Qué hace                                              | Ejemplos                                                         |
| -------------------------------------- | ----------------------------------------------------- | ---------------------------------------------------------------- |
| **DDL** (Data Definition Language)     | Define o cambia la **estructura** de la base de datos | `CREATE`, `ALTER`, `DROP`, `TRUNCATE`                            |
| **DML** (Data Manipulation Language)   | **Manipula los datos** dentro de la base              | `SELECT`, `INSERT`, `UPDATE`, `DELETE`                           |
| **DCL** (Data Control Language)        | **Controla permisos** y seguridad                     | `GRANT`, `REVOKE`                                                |
| **TCL** (Transaction Control Language) | Controla **transacciones**                            | `COMMIT`, `ROLLBACK`, `SAVEPOINT`                                |
| **CRUD**                               | Resumen práctico de operaciones sobre datos           | Create = INSERT, Read = SELECT, Update = UPDATE, Delete = DELETE |

# Caracteristicas de MYSQL

* **Servidor robusto** → Estable y confiable, puede manejar muchos usuarios y transacciones simultáneas.
* **Portabilidad** → Funciona en diferentes sistemas operativos (Windows, Linux, macOS).
* **Multithreads** → Puede procesar múltiples conexiones al mismo tiempo, mejorando el rendimiento.
* **Almacenamiento** → Soporta distintos motores de almacenamiento según necesidades (InnoDB, MyISAM, etc.).
* **Velocidad** → Optimizado para consultas rápidas y eficiente en operaciones con grandes volúmenes de datos.
* **Seguridad** → Control de usuarios, permisos y autenticación robusta.
* **Capacidad** → Puede manejar grandes bases de datos y gran número de registros.
* **Aplicabilidad** → Adecuado para aplicaciones web, móviles y empresariales.
* **Logs** → Registra eventos y errores para auditoría y resolución de problemas.

# Guia de instalacion de MySQL Workbench

https://www.aluracursos.com/blog/descargar-mysql-serve

# Estructura de una base de datos

---

## **1. Base de datos**

Una **base de datos** es como una carpeta donde se guardan todas tus tablas relacionadas entre sí.

```sql
CREATE DATABASE escuela;
```

Aquí creamos una base de datos llamada `escuela`.

---

## **2. Tabla**

Dentro de la base de datos, tenemos **tablas**, que son como hojas de cálculo: filas y columnas.

```sql
USE escuela;

CREATE TABLE estudiantes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50),
    edad INT,
    grado VARCHAR(20)
);
```

**Explicación de la tabla:**

* `id` → Campo que identifica cada registro de manera única (**clave primaria**).
* `nombre` → Campo de tipo texto, máximo 50 caracteres.
* `edad` → Campo de tipo número entero.
* `grado` → Campo de tipo texto, máximo 20 caracteres.

---

## **3. Registro (fila)**

Un **registro** es una fila dentro de la tabla, cada registro representa un elemento de información (un estudiante, un producto, etc.).

```sql
INSERT INTO estudiantes (nombre, edad, grado)
VALUES ('Luis Ángel', 22, '5to semestre');
```

Aquí se agregó un **registro** con los datos del estudiante Luis Ángel.

- Son los datos contenidos en los campos
- Número ilimitado
- Límite máximo dado por la capacidad de almacenamiento disponible en el disco
- Al momento de la creacion de la base de datos se pueden establecer politicas de crecimiento

---

## **4. Campos (columnas)**

Los **campos** son las columnas de la tabla. Cada campo almacena un tipo específico de dato (texto, número, fecha, etc.).

En la tabla `estudiantes` tenemos:

* `id`
* `nombre`
* `edad`
* `grado`

- Definido al momento de su creacion
- Número limitado
- No admite datos que no fueron especificados

---

## **5. Ejemplo visual**

| id | nombre      | edad | grado        |
| -- | ----------- | ---- | ------------ |
| 1  | Luis Ángel  | 22   | 5to semestre |
| 2  | María Pérez | 20   | 4to semestre |
| 3  | Juan López  | 21   | 5to semestre |

* Cada **fila** → Registro
* Cada **columna** → Campo
* Toda la tabla → Colección de registros en la base de datos
* Base de datos → Contenedor de tablas

---

## 6. Lo que tenemos en una tabla

En una tabla tenemos:
- Campos
- registros
- Claves primarias y externas.

# Esquemas

---

Es importante destacar que **SCHEMA** y **DATABASE** son sinonimos

---

## **1. Qué es un esquema**
Un **esquema** es como un contenedor dentro de una base de datos que **agrupa tablas, vistas, índices y otros objetos relacionados**.  

- Piensa en la base de datos como un **archivo grande**.  
- Dentro de ese archivo, los **esquemas** son **carpetas** que organizan mejor tus tablas y objetos.  
- Cada esquema tiene un **nombre** y puede contener varias tablas.  

**Ejemplo visual:**

```
Base de datos: escuela
|
|-- Esquema: academico
|   |-- Tabla: estudiantes
|   |-- Tabla: cursos
|   |-- Tabla: inscripciones
|
|-- Esquema: administrativo
    |-- Tabla: empleados
    |-- Tabla: pagos
```

---

## **2. Cómo se usan en MySQL**

Para crear un esquema en SQL, puedes usar la siguiente sintaxis básica:

```sql
CREATE SCHEMA nombre_del_esquema;
```
Opcionalmente, puedes especificar un usuario como propietario del esquema:
```sql
CREATE SCHEMA AUTHORIZATION usuario;
```
Aquí tienes un ejemplo completo:
```sql
CREATE SCHEMA ventas AUTHORIZATION 'usuario_ventas';
```
Este comando creará un esquema llamado "ventas" y asignará al usuario "usuario_ventas" como propietario.

Después de crear el esquema, puedes crear tablas y otros objetos dentro de él especificando el nombre del esquema seguido de un punto antes del nombre del objeto:
```sql
CREATE TABLE ventas.clientes (
    id INT PRIMARY KEY,
    nombre VARCHAR(100)
);
```
En este ejemplo, la tabla "clientes" se crea dentro del esquema "ventas".

---

## **3. Ventajas de los esquemas**
1. **Organización:** Agrupa tablas relacionadas y separa distintos módulos de tu base de datos.  
2. **Seguridad:** Puedes asignar permisos por esquema, no solo por tabla.  
3. **Claridad:** Facilita entender y mantener la base de datos.  

---

# View

Una "view" (vista) en SQL es una consulta almacenada que se guarda en la base de datos como si fuera una tabla virtual.

La ventaja principal de usar una "view" en vez de una consulta normal es la reutilización y simplificación.

En lugar de escribir la misma consulta compleja una y otra vez, puedes crear una vista una sola vez y luego usarla como si fuera una tabla. Esto hace que tus consultas sean más fáciles de leer, mantener y reutilizar.

# **JOIN**

Un JOIN en SQL combina filas de dos o más tablas basándose en una columna relacionada entre ellas.

``Ejemplo``

Imagina que tienes dos tablas:

Tabla "clientes"


|id_cliente	|   nombre |ciudad      |
|-----------|----------|------------|
|1          |	Ana	   |Madrid      |
|2          |	Juan   |Barcelona   |
|3          |	María  |Valencia    |


Tabla "pedidos"

|id_pedido|id_cliente   |fecha
|---------|-------------|------
|101	  |1            |2023-01-15
|102	  |2            |2023-02-20
|103      |1            |2023-03-10


```sql
SELECT clientes.nombre, pedidos.id_pedido, pedidos.fecha
FROM clientes
INNER JOIN pedidos ON clientes.id_cliente = pedidos.id_cliente;
```

resultado:

|nombre|id_pedido |fecha
|------|----------|----------
|Ana   |101       |2023-01-15
|Juan  |102	      |2023-02-20
|Ana   |103       |2023-03-10

# **Estructuras de control**

``IF``, ``WHILE``, ``FOR``

Son **estructuras de control de flujo** que se utilizan para controlar la ejecución de un bloque de código.

Ejemplo con ``IF``

Supongamos que tienes una tabla llamada "productos" con las columnas "nombre" y "precio". Quieres mostrar el nombre del producto y un mensaje que indique si el producto es "caro" o "barato" según su precio.

```sql
SELECT
    nombre,
    IF(precio > 100, 'Caro', 'Barato') AS estado_precio
FROM
    productos;
```

Si el precio del producto es mayor que 100, la columna "estado_precio" mostrará "Caro". De lo contrario, mostrará "Barato".

# **Funciones**

Las funciones en SQL se utilizan para realizar cálculos, manipular datos y transformar valores en una consulta.

Existen muchas funciones pero por el momento solo aprenderemos 3

``COUNT()``: Cuenta el número de filas.
```sql
SELECT COUNT(*) FROM clientes; -- Cuenta todos los clientes
```

``SUM()``: Suma los valores de una columna.
```sql
SELECT SUM(precio) FROM productos; -- Suma el precio de todos los productos
```

``AVG()``: Calcula el promedio de los valores de una columna.
```sql
SELECT AVG(edad) FROM empleados; -- Calcula la edad promedio de los empleados
```

# **Trigger**

Un Trigger en SQL es un disparador que se ejecuta automáticamente en respuesta a un evento específico en una tabla, como una inserción (agregar un nuevo dato a la tabla), actualización o eliminación de datos.

Ejemplo:

Imagina que tienes una tabla llamada "pedidos" y quieres mantener un registro de cada vez que se inserta un nuevo pedido. Puedes crear un trigger que se ejecute automáticamente cada vez que se inserta una nueva fila en la tabla "pedidos" y que inserte una nueva fila en una tabla llamada "log_pedidos" con la información del pedido insertado.

En otras palabras, el trigger se utiliza para crear un registro histórico de cada nuevo pedido que se agrega a la tabla "pedidos" en la tabla "log_pedidos".

El trigger está monitoreando la tabla "pedidos" y, cuando detecta una nueva inserción, crea un registro en la tabla "log_pedidos".

```sql
CREATE TRIGGER registro_pedidos
AFTER INSERT ON pedidos
FOR EACH ROW
BEGIN
    INSERT INTO log_pedidos (id_pedido, fecha_pedido)
    VALUES (NEW.id_pedido, NEW.fecha_pedido);
END;
```

- ``CREATE TRIGGER registro_pedidos``: Crea un trigger llamado "registro_pedidos".
- ``AFTER INSERT ON pedidos``: Especifica que el trigger se ejecutará después de una inserción en la tabla "pedidos".
- ``FOR EACH ROW``: Especifica que el trigger se ejecutará para cada fila insertada.
- ``BEGIN ... END``: Define el bloque de código que se ejecutará cuando se active el trigger.
- ``INSERT INTO log_pedidos ...``: Inserta una nueva fila en la tabla "log_pedidos" con el ID y la fecha del pedido insertado.
- ``NEW.id_pedido`` y ``NEW.fecha_pedido``: Hacen referencia a los valores de las columnas de la nueva fila insertada en la tabla "pedidos".

En resumen, los triggers son útiles para automatizar tareas, mantener la integridad de los datos y auditar los cambios en la base de datos.

# **Punto y coma ;**

En SQL, el punto y coma (;) se utiliza para indicar el final de una instrucción. Es como un punto final en una oración. Permite separar múltiples comandos SQL en una sola consulta, lo que le dice a MySQL Workbench dónde termina un comando y dónde comienza el siguiente. Si no usas el punto y coma al final de cada comando, Workbench puede mostrar un error, especialmente si tienes varias líneas de código.

# **USE**

``USE`` se utiliza para seleccionar la base de datos con la que quieres trabajar. Es como decirle a MySQL: "Quiero trabajar con esta base de datos en particular".

# **SELECT * FROM**

``SELECT * FROM`` se utiliza para seleccionar y mostrar todos los datos de una tabla específica en la base de datos. El asterisco (*) significa "todos", así que estás pidiendo que se muestren todas las columnas de la tabla mencionada.

``SELECT * FROM country``  // Muestra todos los datos de la tabla country

# **Bases de datos en el explorador de archivos**

Si lo que quieres es encontrar tu base de datos en el explorador de archivos, pero no sabes donde buscar, te recomiendo lo siguiente:

En el area donde escribimos comandos del Workbench escribimos el siguiente comando **SHOW VARIABLES LIKE 'datadir';** nos debera de dar una salida así:


| Variable_name | Value                              |
|---------------|------------------------------------|
| datadir       | C:\ProgramData\MySQL\MySQL Server 8.0\Data\ |

# **Charset/Collation**

``Charset`` es el conjunto de caracteres que puedes usar (como letras, números y símbolos), y ``Collation`` es cómo se ordenan y comparan esos caracteres.

``Charset`` define qué caracteres puedes usar en tu base de datos, mientras que ``Collation`` define cómo se ordenan y comparan esos caracteres.

En `Charset` Elegimos la opción de: ``utf8``

En `Collation`Elegimos la opción de: ``uft8_general_ci``

Elegimos estos dos por nuestro idioma español, ya que usamos la ñ y las tildes.

# Borra Bases de datos

Para borrar una base de datos utiliza la siguiente sintaxis

```sql
DROP SCHEMA jugos;
```

Acuerdate que SCHEMA es sinonimo de DATABASE asi que tambien se puede utilizar:

```sql
DROP DATABASE jugos;
```

# MySQL desde CMD

Tenemos que encontrar la carpeta bin, usualmente es esta ruta

``C:\Program Files\MySQL\MySQL Server 8.0\bin``

Una vez que estemos en esta ubicación escribimos ``mysql -h localhost -u root -p``

Nos pedira nuestra contraseña de usuario de MySQL

Para salir solo ejcuramos ``EXIT``

# Tipo de dato int, decimal, fijo, bit

| Tipo                  | Bytes | Rango con signo (`SIGNED`)                             | Rango sin signo (`UNSIGNED`)   | Uso típico                                                         |
| --------------------- | ----- | ------------------------------------------------------ | ------------------------------ | ------------------------------------------------------------------ |
| **TINYINT**           | 1     | -128 a 127                                             | 0 a 255                        | Estados pequeños (ej. booleanos, edad, banderas)                   |
| **SMALLINT**          | 2     | -32,768 a 32,767                                       | 0 a 65,535                     | Números pequeños (ej. cantidad de productos, años)                 |
| **MEDIUMINT**         | 3     | -8,388,608 a 8,388,607                                 | 0 a 16,777,215                 | Valores intermedios (ej. población de una ciudad)                  |
| **INT** o **INTEGER** | 4     | -2,147,483,648 a 2,147,483,647                         | 0 a 4,294,967,295              | Uso general (ej. IDs, conteos grandes)                             |
| **BIGINT**            | 8     | -9,223,372,036,854,775,808 a 9,223,372,036,854,775,807 | 0 a 18,446,744,073,709,551,615 | Valores muy grandes (ej. contadores enormes, dinero a gran escala) |

|Tipo    | Presicion en bytes | tipo
---------|--------------------|--
|FLOAT*  | 4 Simple           |
|DOUBLE* | 8  Doble           |

|Tipo               | Cantidad de digitos
|-------------------|--------------------
|DECIMAL o NUMERIC  | 65

|Tipo     | Cantidad de bits
|---------|--------------------
|BIT      | 64


---

# Atributos de int

1. **SIGNED / UNSIGNED**

   * **SIGNED** (por defecto): el campo acepta números negativos y positivos.
   * **UNSIGNED**: solo acepta números positivos, pero duplica el rango máximo.

   Ejemplo:

   * `TINYINT SIGNED` → -128 a 127
   * `TINYINT UNSIGNED` → 0 a 255

---

2. **ZEROFILL**

   * Rellena con ceros a la izquierda hasta completar el tamaño definido.
   * Convierte automáticamente a **UNSIGNED**.

   Ejemplo:

   ```sql
   INT(5) ZEROFILL → 00042 en lugar de 42
   ```

---

3. **AUTO_INCREMENT**

   * Hace que el campo (normalmente una **PRIMARY KEY**) aumente automáticamente en 1 con cada nuevo registro.
   * Solo puede usarse en columnas **numéricas enteras**.

   Ejemplo:

   ```sql
   id INT AUTO_INCREMENT PRIMARY KEY
   ```

---

4. **OUT OF RANGE**

   * Cuando insertas un valor fuera del rango permitido:

     * Si es **menor o mayor al límite** → se guarda el valor más cercano permitido.
     * MySQL suele mostrar un **warning** (y en modo estricto da error).

   Ejemplo:

   ```sql
   TINYINT UNSIGNED → si intentas guardar -5, se guarda como 0.
   ```

---

**En resumen**:

* **SIGNED/UNSIGNED** → controlan si se permiten negativos.
* **ZEROFILL** → agrega ceros a la izquierda.
* **AUTO_INCREMENT** → genera consecutivos automáticos.
* **OUT OF RANGE** → maneja valores fuera del rango (warning o error).

---

# **`FLOAT(5,2)`**:

---

Sintaxis `(M, D)`

Cuando defines un número decimal con dos parámetros:

* **M (precision total)** → número máximo de dígitos que puede tener **en total** (antes y después del punto).
* **D (scale o decimales)** → cuántos de esos dígitos se reservan **después del punto decimal**.

---

Ejemplo: `FLOAT(5,2)`

* **M = 5** → máximo **5 dígitos en total**.
* **D = 2** → de esos 5, **2 son decimales**.
* Entonces → máximo **3 enteros** + **2 decimales**.

Rango permitido:

* **Enteros**: de `-999.99` a `999.99`
* **Decimales**: siempre con hasta 2 dígitos después del punto

---

✔ Ejemplos de valores válidos

* `123.45` ✔
* `-45.67` ✔
* `999.99` ✔

✖ Ejemplos de valores inválidos

* `1234.56` ✖ (demasiados enteros, pasa de 3 dígitos)
* `12.345` ✖ (más de 2 decimales)

---

**Resumen rápido**:

* `FLOAT(5,2)` = hasta 999.99 o -999.99
* Los **5** son todos los dígitos, los **2** son solo los decimales.
* Si te pasas → MySQL **redondea** o lanza **error** (según el modo configurado).

---

# UTC en datos tipo date

---

¿Qué significa **UTC**?

**UTC = Coordinated Universal Time**
(en español: **Tiempo Universal Coordinado**).

Es el **estándar mundial de tiempo**, el mismo en todo el planeta, sin zonas horarias ni horario de verano.
Todas las bases de datos y sistemas lo usan como **referencia de tiempo única** para evitar confusiones.

---

En MySQL y `TIMESTAMP`

* `TIMESTAMP` guarda la fecha/hora en **UTC** internamente.
* Cuando consultas, MySQL **convierte automáticamente** ese valor a tu zona horaria configurada (`time_zone`).
* Rango válido:

  * Desde: **1970-01-01 00:00:01 UTC** (inicio de la “época Unix”).
  * Hasta: **2038-01-19 03:14:07 UTC** (límite por usar enteros de 32 bits).

---

**Ejemplo**:
Si en México (UTC-6) guardas `2025-09-27 12:00:00`,
internamente MySQL lo guarda como `2025-09-27 18:00:00 UTC`.
Cuando lo consultas, MySQL te lo devuelve ajustado a tu zona horaria.

---

# Datos de Fecha

- ``DATE``: 1000-01-01 **hasta** 9999-12-31
- ``DAETIME``: 1000-01-01 00:00:00 **hasta** 9999-12-31 23:59:59
- ``TIMESTAMP``: 1970-01-01 00:00:01 UTC **hasta** 2038-01-19 UTC
- ``YEAR``: 1901 **hasta** 2155 (puede expresarse en formato de 2 o 4 digitos)

# Tipo String

- ``CHAR``: Cadena de caracteres con valor **fijo** de 0 a 255. Ej. CHAR(4) = "44" -> "..aa"
- ``VARCHAR``: Cadena de caracteres con valor **variable** de 0 a 255. Ej. VARCHAR(4)="aa"->"aa"
- ``BINARY``: Cadena de caracteres con valor **fijo** de 0 a 255. (Con números binarios - bits)
- ``VARBINARY``: Cadena de caracteres con valor **variable** de 0 a 255. (Con números binarios - bits)
- ``BLOP``: Binarios largos -> TINYBLOB, MEDIUMBLOB, LONGBLOB
- ``TEXT``: Texto largo -> TINYTEXT, MEDIUMTEXT, LONGTEXT


---

# Atributos de cadenas String

1. **SET**  
   - Es un tipo de dato especial de cadena.  
   - Permite **guardar varios valores predefinidos** en un solo campo (como una lista de opciones).  
   - Ejemplo:  
     ```sql
     CREATE TABLE ejemplo (
       opciones SET('A','B','C','D')
     );
     INSERT INTO ejemplo VALUES ('A,B'); -- guarda A y B
     ```

2. **COLLATE**  
   - Define **cómo se comparan y ordenan** las cadenas (sensibilidad a mayúsculas, acentos, idioma, etc.).  
   - Depende de la **codificación** (ej. `utf8_general_ci`, `utf8_bin`).  
   - Ejemplo:  
     ```sql
     nombre VARCHAR(50) COLLATE utf8_general_ci
     ```

---

# Campos espaciales (GIS – GPS)  

MySQL soporta tipos espaciales para trabajar con coordenadas y mapas:  

1. **GEOMETRY**  
   - Tipo **genérico** que puede guardar cualquier forma (punto, línea, polígono).  

2. **POINT (PUNTO)**  
   - Guarda una **coordenada** (x,y), normalmente latitud y longitud.  
   - Ejemplo: ubicación de una tienda.  

3. **LINESTRING (LÍNEA)**  
   - Guarda una serie de puntos conectados, como un camino o ruta.  

4. **POLYGON (ÁREA)**  
   - Guarda un área cerrada (varios puntos que forman un polígono).  
   - Ejemplo: límites de un terreno o zona geográfica.  

---

**En resumen**:  
- **SET** = lista de valores predefinidos.  
- **COLLATE** = reglas de orden y comparación de texto.  
- **GEOMETRY** = campo espacial genérico.  
- **POINT** = coordenada.  
- **LINESTRING** = línea o ruta.  
- **POLYGON** = área o zona.  

---

# ejercicio

Nuestro sistema de ventas solicita la creación de una tabla más para los vendedores.

Información importante:

El nombre de la tabla debe ser TABLA_DE_VENDEDORES.

El vendedor tiene el número interno de la matrícula, que será almacenado en el campo MATRÍCULA, que debe ser un string de 5 posiciones.

El nombre del vendedor deberá ser almacenado en el campo NOMBRE, y debe ser un string de 100 posiciones.

Crear el campo PORCENTAJE_COMISION que representa el porcentaje de comisión que el vendedor gana sobre cada venta.

Crear esta tabla en la base de datos jugos.

```sql
CREATE TABLE TABLA_DE_VENDEDORES (
    MATRICULA varchar(5), 
    NOMBRE varchar(100), 
    PORCENTAJE_COMISION float);
```