# Bloque 1

## Video 3

Considerando las siguientes opciones ¿Cuál de ellas emplea la sintaxis correcta para crear una base de datos en MySQL?

- CREATE DATABASE db_name;
- CREATE SCHEMA db_name;

---

¡Alternativa correcta! Así es, SCHEMA y DATABASE hacen referencia a la misma entidad en MySQL.

## Video 4

Considerando las siguientes opciones ¿Cuál de ellas emplea la sintaxis correcta para crear una tabla en MySQL?

---

CREATE TABLE table_name (field_name datatype);

¡Alternativa correcta! Esta es la sintaxis más básica para crear una tabla en MySQL.

## Video 5

¿Cuál de los siguientes comandos corresponde con la inserción de datos en las tablas?

```sql 
1)
INSERT INTO table_name (field_name) VALUES (values); 

2)
INSERT table_name (field_name) VALUES (values); 
```

---

Solamente la opción 1 es correcta.


¡Alternativa correcta!

## Video 6

¿Cuál de los siguientes enunciados es verdadero?

1) Es posible insertar registros en una tabla provenientes de otra tabla hospedada en una base de datos externa siempre y cuando los nombres de los campos y los tipos de los campos sean idénticos y estos se incluyan en el mismo orden de la tabla de destino.

2) Es posible insertar registros en una tabla provenientes de otra tabla hospedada en una base de datos externa siempre y cuando la cantidad de campos seleccionados en la tabla de origen corresponda con la cantidad de campos requeridos con el comando INSERT.

---

Solamente el segundo enunciado es correcto.


¡Alternativa correcta! Así es, lo único que se requiere es que el número de campos en la cláusula INSERT corresponda con el número de campos en la cláusula SELECT.

# Bloque 2

## Video 1

La función RAND() muestra:

---

Un número aleatorio entre 0 y 1.


¡Alternativa correcta! La función RAND() devuelve como resultado un número aleatorio en el intervalo [0;1].

## Video 2

Observa el siguiente comando:
```sql
SELECT RAND() * 8;
```

---

El output será un número en el intervalo [0;8].


¡Alternativa correcta! Se trata de un número (con una altísima probabilidad de ser decimal) dentro del intervalo en mención.

## Video 3

¿Cuál de los siguientes comandos permite la creación de funciones en MySQL?

---

SET GLOBAL log_bin_trust_function_creators = 1;

¡Alternativa correcta! Así obtenemos permiso de MySQL para crear funciones.

# Bloque 3

## Video 1

Observa las siguientes líneas de comando:

```sql
CREATE FUNCTION `f_ejemplo`(min INTEGER, max INTEGER) 
RETURNS INTEGER
BEGIN
  DECLARE vresultado INTEGER;
  SELECT(RAND() * (max-min+1))+min INTO vresultado;
RETURN vresultado;
END
```

¿Cómo se puede modificar a la función f_ejemplo para que nos devuelva un número entero?

---

```sql
CREATE FUNCTION `f_ejemplo`(min INTEGER, max INTEGER) 
RETURNS INTEGER
BEGIN
  DECLARE vresultado INTEGER;
  SELECT CEIL((RAND() * (max-min+1))+min) INTO vresultado;
RETURN vresultado;
END

¡Alternativa correcta! La función CEIL() nos ayuda a obtener un número entero.

CREATE FUNCTION `f_ejemplo`(min INTEGER, max INTEGER) 
RETURNS INTEGER
BEGIN
  DECLARE vresultado INTEGER;
  SELECT FLOOR((RAND() * (max-min+1))+min) INTO vresultado;
RETURN vresultado;
END

¡Alternativa correcta! La función FLOOR() nos ayuda a obtener un número entero.
```

## Video 2

Observa la siguiente tabla:

ID	NOMBRE
1	José
2	Raúl
3	Pepe
4	Mila
5	Jair
6	Isak
7	Miguel
8	Rocío
9	Juan
10	Martha

```sql
SELECT NOMBRE FROM tabla LIMIT 7,3 ;
```

El resultado de la consulta anterior nos devolverá los siguientes nombres:

---

Rocío, Juan y Martha.


¡Alternativa correcta! Muy bien, La cláusula LIMIT 7,3 cuenta los siete primeros registros, y toma el octavo registro y los 2 siguientes.

## Video 3

En el video de esta aula creamos una función para obtener el cliente a través de la función de número aleatorio. En este ejercicio, crea otra función para obtener el producto y también el vendedor usando como base la función aleatorio.

---

Para crear la función que genere un producto aleatorio, los comandos son los siguientes:

```sql
DELIMITER //
CREATE FUNCTION `f_producto_aleatorio`() 
RETURNS varchar(10) 
BEGIN
DECLARE vresultado VARCHAR(10);
DECLARE vmax INT;
DECLARE valeatorio INT;
SELECT COUNT(*) INTO vmax FROM productos;
SET valeatorio = f_aleatorio(1,vmax);
SET valeatorio = valeatorio-1;
SELECT CODIGO INTO vresultado FROM productos LIMIT valeatorio,1;
RETURN vresultado;
END //

Ahora bien, para generar el vendedor aleatorio, la función es:

DELIMITER //
CREATE FUNCTION `f_vendedor_aleatorio`() 
RETURNS varchar(5) 
BEGIN
DECLARE vresultado VARCHAR(5);
DECLARE vmax INT;
DECLARE valeatorio INT;
SELECT COUNT(*) INTO vmax FROM vendedores;
SET valeatorio = f_aleatorio(1,vmax);
SET valeatorio = valeatorio-1;
SELECT MATRICULA INTO vresultado FROM vendedores LIMIT valeatorio,1;
RETURN vresultado;
END //
```

# Bloque 4

## Video 1

Considera las siguientes afirmaciones:

1) La diferencia entre una función y una subrutina es que una función ejecuta una serie de comandos y devuelve un resultado; una subrutina ejecuta una serie de comandos pero no necesariamente devuelve un resultado.

2) Un stored procedure utiliza el comando CALL y una función utiliza el comando SELECT para su ejecución, respectivamente.

---


Ambas afirmaciones son verdaderas.


¡Alternativa correcta! Así es, estos son conceptos muy importantes.

## Video 2

¿Cuál es la sintaxis correcta para utilizar el comando WHILE?

---

```sql
WHILE condition
DO
statements;
(...)
END WHILE;

¡Alternativa correcta! Así es, de forma muy resumida, como se trabaja con ciclos iterativos utilizando el comando WHILE en MySQL.
```

## Vdeo 3

¿Cuáles de las siguientes afirmaciones se aplican al concepto de clave primaria?

---

Puede existir más de una clave primaria en una misma tabla.


¡Alternativa correcta! La combinación de los campos que son clave primaria no se puede repetir en ningún otro registro de la tabla garantizando la integridad de los datos.

Alternativa correta
La clave primaria ayuda a mantener la integridad de los datos al evitar duplicidad en los registros.


¡Alternativa correcta! Para esto sirve la clave primaria.

# Bloque 5

## Video 1

En la tabla de facturas tenemos el valor del impuesto. En la tabla de ítems tenemos la cantidad y la facturación. Calcula el valor del impuesto pago en el año de 2021 redondeando al mayor entero.

---

El comando que debes ejecutar es el siguiente:

```sql
SELECT YEAR(FECHA), CEIL(SUM(IMPUESTO * (CANTIDAD * PRECIO))) 
AS RESULTADO
FROM facturas F
INNER JOIN items I ON F.NUMERO = I.NUMERO
WHERE YEAR(FECHA) = 2021
GROUP BY YEAR(FECHA);
```

## Video 2

¿Por qué genera más ventajas aplicar stored procedures a los TRIGGERS?

---

Porque facilitan el mantenimiento.


¡Alternativa correcta! Si cambiamos las reglas de negocio, basta cambiarlas solamente en el sp sin necesidad de hacer alteraciones al interior de los TRIGGERS.